<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
{{content_for_header}}
{{'style.css' |  asset_url |  stylesheet_tag}}

{{'main-product.css' |  asset_url |  stylesheet_tag}}
{{'buy-button.js' |  asset_url |  script_tag }}
<script src="{{ 'load-design-tokens.js' | asset_url }}" defer></script>

    </head>
    <body>
        {% render 'header' %}
        {% section 'main-nav' %}
{{content_for_layout}}
{{ 'dynamic-collection.js' | asset_url |  script_tag }}
{{ 'theme.js' | asset_url | script_tag }}

{% section 'footer' %}

    </body>
</html>