<div class="about-us-container" style="background-color: var(--{{ section.settings.bg_color }});">
  <div class="about-us {{ section.settings.alignment }}">
    <div style="color: {{ section.settings.header_color }}">
      {{ section.settings.header }}
    </div>
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'text' %}
          <div class="about-us-text-paragraph" style="color: {{ block.settings.color }}">
            <p>{{ block.settings.paragraph }}</p>
          </div>
        {% elsif block.type == 'header' %}
          <h2 class="about-us-text-header" style="color: {{ block.settings.color }}">
            {{ block.settings.header }}
          </h2>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No blocks added</p>
    {% endif %}
  </div>
</div>

<style>
  .about-us.left {
    justify-content: flex-start;
    width: 100vw;
  }

  .about-us.right {
    text-align: right;
    justify-content: flex-end;
    width: 100vw;
  }

  .about-us.center {
    text-align: center;
    justify-content: center;
    width: 100vw;
  }

  .about-us-container {
    max-width: 100%;
    padding: clamp (30px, 2rem + 10px, 50px + 1rem);
    display: flex;
    flex-direction: row;
  }

  .about-us {
    display: flex;
    flex-direction: column;
  }

  .about-us-text-header {
    font-size: var(--header-size-fontSize);
  }

  .about-us-text-paragraph p{
    width: 100%;
    font-size: clamp(10px, 1rem , 2rem);
    font-family:'Dela-Gothic-One';
  }
</style>

{% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header Text"
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "Header Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
          "type": "select",
          "id": "bg_color",
          "label": "Background Color",
          "default": "brewdacity-bg-color",
          "options": [{
            "value": "brewdacity-bg-color",
            "label": "Default Color"
          },
          {
            "value": "brewdacity-alternate-bg-color",
            "label": "Alternate Color"
          },
          {
            "value": "brewdacity-alternate-bg-color-warm",
            "label": "Alternate Color Warm"
          },
          {
            "value": "dark-color",
            "label": "Dark"
          }]
        }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "About Us Header",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header",
          "default": "About Us"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Header Color",
          "default": "#000000"
        }
   
      ]
    },
    {
      "type": "text",
      "name": "About Us Text",
      "settings": [
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "About Us",
          "default": "Information about us here"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color",
          "default": "#000000"
        }
      ]
    }
  ]
}
{% endschema %}

