

{% schema %}
    {
        "name": "header",
        "settings": [
            {
                "type": "select",
                "id": "background-color",
                "label": "Background Color",
                "options": [
                    {"label": "default" ,"value": "brewdacity-bgcolor "},
                    {"label": "light", "value": "brewdacity-alternate-bg-color"},
                    {"label": "dark", "value": "brewdacity-alternate-bg-color-warm"}
                ]
            }
        ],
        "blocks": [
            {
                "type": "about_text",
                "name": "About Text",
                "settings": [
                    {
                        "type": "text",
                        "id": "about_text",
                        "label": "About Text"
                    },
                    {
                        "type": "color",
                        "id": "text_color",
                        "label":" Text Color"
                    }
                ]
            },
            {
                "type": "about_hero_image",
                "name": "About Hero Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "about_hero_image",
                        "label": "Image"
                    }
                ]
            }
        ]
    }
    {% endschema %}

    <style>
 .about-image{
    max-width: 100%;
    object-fit: contain;
 }
 .about-text{
    padding: 5rem 10rem 10rem 5rem;
 }
    
    </style>
    
    <div class="about-page-container" style="background-color: var(--{{section.settings.background-color}}) ;">
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                {% if block.type == 'about_text' %}
                    <h1 style="color: {{block.settings.text_color}};" class="about-text">{{ block.settings.about_text }}</h1>
                {% endif %}
                {% if block.type == 'about_hero_image' %}
                    <img src="{{ block.settings.about_hero_image | img_url: 'master' }}" alt="About Image" class="about-image">
                {% endif %}
            {% endfor %}
        {% endif %}
      
    
        <div class="about-content">
            {{ page.content }} <!-- This will display the content added via the admin panel -->
        </div>
    </div>
    