<div class='about-us'>
  <div style="color: {{ section.settings.header_color }}">
    {{ section.settings.header }}
  </div>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        <div style="color: {{ block.settings.color }}">
          {{ block.settings.paragraph }}
        </div>
      {% elsif block.type == 'header' %}
        <h2 style="color: {{ block.settings.color }}">
          {{ block.settings.header }}
        </h2>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No blocks added</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header Text"
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "Header Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "About Us Header",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header",
          "default": "About Us"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Header Color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "text",
      "name": "About Us Text",
      "settings": [
        {
          "type": "text",
          "id": "paragraph",
          "label": "About Us",
          "default": "information about us here"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color",
          "default": "#000000"
        }
      ]
    }
  ]
}
{% endschema %}