{% schema  %} 

{

"name": "Featured Collection",

"settings": [
    {
        "type": "collection",
        "id": "card-collection",
        "label": "Collection",
        "default":"frontpage"

    }

]


}

{% endschema %}

<div class="card-collection">

<h1>{{ section.settings.collection.title }}</h1>
<div class ='products-grid'>
{% for product in section.settings.collection.products %}
<div class='card-product'>
    <a href="{{ product.url }}">
        <img width = '500' height='500' src="{{ product.featured_image | image_url: 'medium' }}" alt="{{ product.title }}">
        <h2>{{ product.title }}</h2>
        <p>{{ product.price | money }}</p>
      </a>
</div>
{%endfor%}
</div>

</div>