{% schema %}
    {
      "name": "Card Collection",
      "settings": [
        {
          "type": "collection",
          "id": "card-collection",
          "label": "Collection",
          "default": "frontpage"
        }
      ]
    }
    {% endschema %}
    
    {% if section.settings['card-collection'] %}
      {% assign collection = collections[section.settings['card-collection']] %}
      {% if collection.products.size > 0 %}
        <div class="card-collection">
          <h1>{{ collection.title }}</h1>
          <div class="products-grid">
            {% for product in collection.products %}
              <div class="card-product">
                <a href="{{ product.url }}">
                  <img width="500" height="500" src="{{ product.featured_image | image_url: 'medium' }}" alt="{{ product.title }}">
                  <h2>{{ product.title }}</h2>
                  <p>{{ product.price | money }}</p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endif %}