<!-- sections/collection-featured.liquid -->

<div class="collection-featured">
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <div class="collection">
        {% if block.settings.collection %}
          <h2>{{ collections[block.settings.collection].title }}</h2>
          <div class="products-grid">
            {% assign columns_desktop = block.settings.columns_desktop %}
            {% assign columns_mobile = block.settings.columns_mobile %}
            
            <style>
              .collection-featured h2{
           
              }
              .products-grid {
                display: grid;
                gap: 10px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }

              @media (min-width: 768px) {
                .products-grid {
                  grid-template-columns: repeat({{ columns_desktop }}, 1fr);
                }
              }

              @media (max-width: 767px) {
                .products-grid {
                  grid-template-columns: repeat({{ columns_mobile }}, 1fr);
                }
              }
            </style>

            {% for product in collections[block.settings.collection].products %}
              <div class="product">
                <a href="{{ product.url }}">
                  <img class ="product-image" src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}">
                  <h3>{{ product.title }}</h3>
                  <p>{{ product.price | money }}</p>
                </a>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>No collection selected</p>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <p>No collections added</p>
  {% endif %}
</div>
<style>
  .product-image{
    width: 50%;
  }
</style>
{% schema %}
{
  "name": "Collection Feature",
  "settings": [
    {
          "type": "select",
          "id": "bg_color",
          "label": "Background Color",
          "default": "brewdacity-bg-color",
          "options": [{
            "value": "brewdacity-bg-color",
            "label": "Default Color"
          },
          {
            "value": "brewdacity-alternate-bg-color",
            "label": "Alternate Color"
          },
          {
            "value": "brewdacity-alternate-bg-color-warm",
            "label": "Alternate Color Warm"
          }]
}
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "label": "Columns on Desktop",
          "min": 1,
          "max": 6,
          "default": 4
        },
        {
          "type": "range",
          "id": "columns_mobile",
          "label": "Columns on Mobile",
          "min": 3,
          "max": 9,
          "default": 3
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Feature",
      "category": "Custom"
    }
  ]
}
{% endschema %}