<div class="collection-container">
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <div class="collection">
        {% if block.settings.collection %}
          <h2 class="collection-title">{{ collections[block.settings.collection].title }}</h2>
          <div class='products-grid'>
            {% assign columns_desktop = block.settings.columns_desktop %}
            {% assign columns_mobile = block.settings.columns_mobile %}  
          {% for product in collections[block.settings.collection].products %}
                 
              
              <div class="product">
              <a href="{{ product.url }}">
                {% if product.featured_image %}
                  <img class="product-image"  src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
                {% else %}
                  <p>No image available</p>
                {% endif %}
                <h3 class="product-title">{{ product.title }}</h3>
                <p class="product-price">{{ product.price | money }}</p>
              </a>
            </div>
          {% endfor %}
          </div>
        {% else %}
          <p>No collection selected</p>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <p>No collections added</p>
  {% endif %}
</div>


<style>
  .collection-title{
    font-family: arial;
    text-align: center;
    color: grey;
    font-size: 2rem;
  }
  .product-image{
    border-radius: 5%;
  }
  .product a{
    text-decoration: none;
    color: grey;
  }
  .product-title{
    text-decoration: none;
    color: grey;
  }
.collection-container{
  background-color: #f7d9b6;
  padding: 10rem;
}
.product-image{
  width: 100%;
}
.products-grid {
  padding: clamp(1rem, 2vw, calc(20px - 10rem));
  gap: 2rem;
  display: grid;
  max-width: 100%;
}
.product{
  padding: 2rem;
}
@media (min-width: 768px) {
                .products-grid {
                  grid-template-columns: repeat({{ columns_desktop }}, 1fr);
                }
              }

              @media (max-width: 767px) {
                .products-grid {
                  grid-template-columns: repeat({{ columns_mobile }}, 1fr);
                }
              }
</style>
{% schema %} 
{
  "name": "Collection",
  "settings": [

  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select a collection"
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "label": "Columns on Desktop",
          "min": 1,
          "max": 6,
          "default": 4
        },
        {
          "type": "range",
          "id": "columns_mobile",
          "label": "Columns on Mobile",
          "min": 1,
          "max": 4,
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}
