<div class="drink-menu-container"> 
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'menu_title' %}
        <h2 class="menu-title" style="text-align: {{ block.settings.title_alignment }};">{{ block.settings.menu_title }}</h2>
      {% endif %}
      {% if block.type == 'menu_desc' %}
        <p class="menu-desc" style="text-align: {{ block.settings.desc_alignment }};">{{ block.settings.menu_description }}</p>
      {% endif %}
      {% if block.type == 'drink_item' %}
        <div class="drink-item">
          <div class="drink-name">{{ block.settings.drink_name }}</div>
          <div class="drink-price">{{ block.settings.drink_price | money }}</div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No items added to the menu.</p>
  {% endif %}
</div>

<style>
  .menu-title{
    margin: 20px;
  }
  .menu-desc{
    margin: 20px;
  }
.drink-menu-container {
  display: flex;
  font-family: sans-serif;
  padding: 10rem;
  flex-direction: column;
  gap: 1rem; /* Optional: Adds spacing between items */
}

.drink-item {
  display: flex;
gap: 2rem;  
border-bottom: 1px solid black;
  justify-content: space-between;
}

.drink-price {
  justify-content: flex-end;
}

.drink-name, .drink-price {
  font-size: var(--header-size-font-size);
  flex: 1;
}
</style>

{% schema %} 
{
  "name": "menu",
  "settings": [],
  "blocks": [
    {
      "type": "menu_title",
      "name": "Menu Title",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu Title"
        },
        {
          "type": "select",
          "id": "title_alignment",
          "label": "Menu Title Alignment",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
            { "value": "center", "label": "Center" }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "menu_desc",
      "name": "Menu Description",
      "settings": [
        {
          "type": "text",
          "id": "menu_description",
          "label": "Menu Description"
        },
        {
          "type": "select",
          "id": "desc_alignment",
          "label": "Menu Description Alignment",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
            { "value": "center", "label": "Center" }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "drink_item",
      "name": "Drink Item",
      "settings": [
        {
          "type": "text",
          "id": "drink_name",
          "label": "Drink Name"
        },
        {
          "type": "text",
          "id": "drink_price",
          "label": "Drink Price",
          "default": "10"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Drink Menu"
    }
  ]
}
{% endschema %}

