<div class="drink-menu-container" style="background-color: var(--{{section.settings.color_scheme}});"> 
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'menu_title' %}
        <h2 class="menu-title" style="text-align: {{ block.settings.title_alignment }};">{{ block.settings.menu_title }}</h2>
      {% endif %}
      {% if block.type == 'menu_desc' %}
        <p class="menu-desc" style="text-align: {{ block.settings.desc_alignment }};">{{ block.settings.menu_description }}</p>
      {% endif %}
    {% endfor %}

    <!-- Separate container for drink items -->
    <div class="drink-item-container">
      {% for block in section.blocks %}
        {% if block.type == 'drink_item' %}
          <div class="drink-item">
            <div class="drink-name">{{ block.settings.drink_name }}</div>
            <div class="drink-price">{{ block.settings.drink_price | money }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  {% else %}
    <p>No items added to the menu.</p>
  {% endif %}
</div>

<style>
  .drink-menu-container {
    font-family: 'Dela-Gothic-One';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(20px, 2vw + 10px, 5rem);
    gap: 1rem; /* Optional: Adds spacing between items */
  }

  .menu-title, .menu-desc {
    color: #E6844E;

    margin: 20px;
  }
  .menu-desc{
    font-family: sans-serif;
    font-size: 1.2rem;
  }

  .drink-item-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 2rem;
  }

  .drink-item {
    width: 40%;
    align-items: center;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 1rem;
    color: #DE81B5;
    border-bottom: 2px solid rgb(245, 172, 63);
  }

  .drink-name {
    color: #E6844E;
  }
.drink-price{
  color: green;
}
  .drink-price {
    align-self: flex-end;
  }
@media (max-width : 767px) {
  .drink-item-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
}
 
  
</style>

{% schema %} 
{
  "name": "menu",
  "settings": [
    {
      "type": "select",
      "label": "Color Scheme",
      "id": "color_scheme",
      "options": [
        {
          "value": "brewdacity-bg-color",
          "label": "Default Color"
        },
        {
          "value": "brewdacity-alternate-bg-color",
          "label": "Alternate Color"
        },
        {
          "value": "brewdacity-alternate-bg-color-warm",
          "label": "Alternate Color Warm"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "menu_title",
      "name": "Menu Title",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu Title"
        },
        {
          "type": "select",
          "id": "title_alignment",
          "label": "Menu Title Alignment",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
            { "value": "center", "label": "Center" }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "menu_desc",
      "name": "Menu Description",
      "settings": [
        {
          "type": "text",
          "id": "menu_description",
          "label": "Menu Description"
        },
        {
          "type": "select",
          "id": "desc_alignment",
          "label": "Menu Description Alignment",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
            { "value": "center", "label": "Center" }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "drink_item",
      "name": "Drink Item",
      "settings": [
        {
          "type": "text",
          "id": "drink_name",
          "label": "Drink Name"
        },
        {
          "type": "text",
          "id": "drink_price",
          "label": "Drink Price",
          "default": "10"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Drink Menu"
    }
  ]
}
{% endschema %}
