<div class="hero-section">
  {% if section.settings.hero_media_type == 'image' %}
    <img src="{{ section.settings.hero_image | img_url: 'master' }}" alt="Hero Image" class="hero-media">
  {% elsif section.settings.hero_media_type == 'video' %}
    <video autoplay muted loop class="hero-media">
      <source src="{{ section.settings.hero_video }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  {% endif %}

  <div class="hero-content">
    {% for block in section.blocks %}
      {% if block.type == 'text_block' %}
        <div class="hero-text"> 
          <h2 style="color:{{ block.settings.color_title }}">{{ block.settings.hero_text }}</h2>
          <p>{{ block.settings.subline }}</p>
        </div>
      {% elsif block.type == 'button' %}
        <a class="hero-button" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  height: 60vh;
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.hero-text h2 {
  font-size: clamp(40px, 2rem + 1vw, 4rem);
  font-family: 'Dela-Gothic-One';
  color: var(--color_title);
}

.hero-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  width: 5rem;
}

.hero-button:hover {
  background-color: #333;
}
</style>

{% schema %}
{
  "name": "Hero-Image",
  "tag": "section",
  "settings": [
    {
      "id": "hero_media_type",
      "type": "select",
      "label": "Hero Media Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "id": "hero_image",
      "type": "image_picker",
      "label": "Hero Image"
    },
    {
      "id": "hero_video",
      "type": "url",
      "label": "Hero Video URL"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Hero Text",
      "settings": [
        {
          "type": "color",
          "id": "color_title",
          "label": "Heading Color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "hero_text",
          "label": "Hero Text",
          "default": "Come have a Brewtastic time!"
        },
        {
          "type": "text",
          "id": "subline",
          "label": "Subline",
          "default": "you know you wanna"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
          "default": "/"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More"
        }
      ]
    }
  ]
}
{% endschema %}
