{% schema %}
    {
      "name": "Hero-Image",
      "tag": "section",
      "settings": [
        {
          "id": "hero_section",
          "type": "image_picker",
          "label": "Hero Image"
        }
      ],
      "blocks": [
        {
          "type": "text_block",
          "name": "Hero Text",
          "settings": [
            {
  "type": "color",
  "id": "color_title",
  "label": "Heading color",
  "default": "#FFFFFF"
},
            {
              "type": "text",
              "id": "hero_text",
              "label": "Hero Text",
              "default": "Come have a Brewtastic time!"
            },
            {
              "type": "text",
              "id": "subline",
              "label": "Subline",
              "default": "you know you wanna"
            }
          ]
        },
        {
          "type": "button",
          "name": "Button",
          "settings": [
            {
              "type": "url",
              "id": "button_link",
              "label": "Button Link",
              "default": "/"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button Text",
              "default": "Learn More"
            }
          ]
        }
      ]
    }
    {% endschema %}
    
    <style>
    .hero-section {
      display: flex;
      flex-direction: column;
    padding: 5rem;
      max-width: 100vw;
      height: 100vh;
      background-size: cover;
      background-position: center;
      color: white;
    }
    
    .hero-text {
     font-size: 2rem;
     color: #333;
    }
    
    .hero-button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      width: 5rem;
    }
    
    .hero-button:hover {
      background-color: #333;
    }
    </style>
    
    <div class="hero-section" style="background-image: url({{ section.settings.hero_section | img_url: 'master' }});">
      {% for block in section.blocks %}
        {% if block.type == 'text_block' %}
          <div class="hero-text"> 
            <h2 style="color:{{settings.color_title}}"> {{ block.settings.hero_text }}</h2>
            <p>{{ block.settings.subline }}</p>
          </div>
        {% elsif block.type == 'button' %}
          <a class="hero-button" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
        {% endif %}
      {% endfor %}
    </div>