{% schema  %}
{
"name": "Hero-Image",
"tag": "section",

"settings": [
    {
        "id":"hero_section",
        "type": "image_picker",
        "label": "Hero Image"
    }
    
],
"blocks":[
    {
        "type": "text_block",
        "name": "Hero Text",
        "settings": [
            {
                "type": "text",
                "id": "hero_text",
                "label": "Hero Text",
                "default": "Come have a Brewtastic time!"
            },
            {
                "type":"text",
                "id":"subline",
                "label": "Subline",
                "default": "you know u wanna"

            }
]
    },
    
    {
        "type": "button_link",
        "name": "Button",
        "settings": [

        {
                "type": "url",
                "id": "button_link",
                "label": "Button Link",
                "default": "/"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "label text"
            }
        ]
        

}
]
}

{% endschema %}

<style>

.hero-section{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.hero-text{
    display: flex;
    flex-direction: column;
}
.hero-button{
    padding: 2rem;
    font-size: 1rem;
}

</style>



<div class="hero-section" style="background-image: url({{ section.settings.hero_section | img_url: 'master' }});">
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'text_block' %}
        <div class="hero-text"> 
          <h2>{{ block.settings.hero_text }}</h2>
          <p>{{ block.settings.subline }}</p>
          {%if block.settings.button_link and block.settings.button_text %}
            <a class="hero-button" href="{{block.settings.button_link}}">{{block.settings.button_text}}</a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>