<!-- sections/list-collections.liquid -->
<div class="list-collections">
  <div class="collections-grid">
    <h1 class="section-title">{{ section.settings.title }}</h1>

    {% for collection in collections %}
      <div class="collection-item">
        <a href="{{ collection.url }}">
          <img width='200' height = '200' src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
          <h2 class="collection-title">{{ collection.title }}</h2>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "List Collections",
  "settings": [
    { 
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "All Collections"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .section-title{
  font-family: 'Dela-Gothic-One';
  }
  .collection-title{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    
    font-family: 'Dela-Gothic-One';
  }
  .collections-grid {
    display: grid;
    background-color: #FBFFF1;
    gap: 20px;
    padding: 10rem;
  }

  @media (min-width: 768px) {
    .collections-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 767px) {
    .collections-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .collection-item {
    text-align: center;
  }

  .collection-item img {
    width: 100%;
    height: auto;
  }

  .collection-item h2 {
    font-size: 1.25rem;
    margin-top: 10px;
  }
</style>