
{%schema%}
{
    "name": "Product Collection",
    
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "this is a collection Name" 
        }

    ],

        
    "blocks":[
        {
            "type": "text",

        "name": "Individual Product Name",


        "settings": [
        
        {
        "type": "text",
        "id": "title",
        "label": "Product Name",
        "default": "Insert Product details here"


    },


  
        {
            "type":"image_picker",
            "id": "product_image",
            "label": "Product Image"
},

        {
            "type": "text",
            "id": "price",
            "label": "Price",
            "default": "$10.00"
        }



       
        ]
        
        }
    ]

    
}
{%endschema%}

<style>
    .product-collection{
        font-size: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .product-details img{
        width: 100%;
    }
</style>



<section class="product-collection">
<h1>{{section.settings.collection_title}}</h1>


<div class="product-details">
    <h3>{{ block.settings.title }}</h3>
    {%if block.settings.image%}
        <img height="500" width="500" src= "{{ block.settings.product_image | image_url: 'master' }}" alt="{{block.settings.title}}" >
       {%endif%}
     
    
      {%if block.settings.price%}
        <p>{{ block.settings.price }}</p>
      {% endif %}
    </div>
    

</section>
